html, body {
	margin: 0;
	height: 100%;
}

/*.page-wrapper {
	height: inherit;
	position: relative;
}*/

header {
	background-color: rgba(0, 0, 0, 0.2);
	/*background-color: #bae0bd;*/
	width: 100%;
	padding-bottom: 5px;
	/*overflow: hidden;*/
	position: relative;
}

header .menu {
	display: none;
	font-family: Myriad Pro;
	text-transform: uppercase;
}

header .wrapper {
	margin: 0 490px 0 140px;
	max-width: 530px;
}

header .wrapper2 {
	margin: 0 460px 0 400px;
	max-width: 300px;
}

header h1 {
	text-transform: uppercase;
	color: #e91e36;
	font-family: Candy Round BTN Lt, Cooper Black;
	font-size: 60px;
	margin: 0;
}

header h2 {
	font-family: Cooper Black;
	font-size: 24px;
	margin: 0 auto;
	color: #414141;
}

header img {
	display: inline-block;
	width: 115px;
	position: absolute;
	top: 3px;
	right: 240px;
}        


                /*-----------------the end of header section ------------------*/               

.navigation {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.navigation div {
	margin: 0 25px;
	padding: 6px 2px;
	box-sizing: content-box;
	transition: all .5s linear;
}

nav .nav-item {
	text-decoration: none;
	text-transform: uppercase;
	color: #000000;
	font-size: 24px;
	font-family: Myriad Pro;
}

.navigation div:hover {
	background-color: rgba(0, 0, 0, 0.2);
	/*background: #e5dada;*/
}    

.active {
	background-color: rgba(0, 0, 0, 0.2);
}   


                  	  /*-----------------the end of navigation section ------------------*/  

.wrapper3 {
	margin-top: 100px;
}

aside {
	margin: -20px 0;
	max-width: 200px;
}

aside div {
	display: inline-block;
	margin: 10px 0;
	padding: 3px 4px;
	transition: background .5s linear;
	white-space: nowrap;
}

aside div:hover {
	background: rgba(0, 0, 0, 0.2);
}  

aside .aside-item {
	text-decoration: none;
	text-transform: uppercase;
	color: #000000;
	font-size: 24px;
	font-family: Myriad Pro;
}   
 							/*-----------------the end of aside section ------------------*/  
.arrow_up {
	width: 5em;
	height: 5em;
	position: fixed;
	right: 20px;
	bottom: 100px;
	display: none;
}

.arrow_up img {
	width: 5em;
	height: 5em;
}	

article {
	
}

article p {
	font-size: 18px;
	font-family: Myriad Pro;
}
article img {
	display: block;
}

main {
	box-sizing: border-box;
	min-height: 20.3%;
	padding-bottom: 50px;
}

main .content img {
	margin-top: 60px;
}

.blog_wrapper,  .news_wrapper{
	margin-top: -40px;
}

.blog_wrapper img, .news_wrapper img {
	margin-top: 40px;
}

.blog_wrapper div, .news_wrapper div {
	margin-top: 20px;
	min-height: 350px;
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeOut {
    from {opacity: 1;}
    to {opacity: 0;}
}

.carousel {
	margin: 80px auto 0;
	max-height: 652px;
	max-width: 980px;

}

.services p {
	margin-bottom: 40px;
}

.contacts address {
	font-size: 24px;
}
/*
.hideText {
	display : none;
    opacity : 0;
    transition : opacity .8s linear;
}
*/


                   /*-----------------the end of article section ------------------*/  
footer {
	width: 100%;
	margin-top: 50px;
	margin-bottom: 0;
	/*min-height: 110px;*/
	background: #000000;
	/*position: relative;*/
	/*bottom: 0;
	left: 0;*/
}

footer p {
	font-family: Microsoft Sans Serif;
	font-size: 14px;
	line-height: 110px;
	color: #c5c4c4;
	margin-left: 7%;
	float: left;
}

footer .icons {
	float: right;
	margin-right: 20px;
	margin-top: 35px;
	display: inline-block;
}

footer .sprite {
	background-image: url('../images/sprite.jpg');
	background-repeat: no-repeat;
	width: 48px;
	height: 48px;
	display: inline-block;
	opacity: .3;
	margin-right: 10px;
	transition: opacity .5s linear; 
}

footer .sprite:hover {
	opacity: .7;
}
footer .after {
	clear: both;
}


footer .sprite.instagram {
	background-position: -395px -27px;
}
footer .sprite.google {
	background-position: -215px -27px;
}
footer .sprite.facebook {
	background-position: -35px -27px;
}
footer .sprite.youtube {
	background-position: -515px -27px;
}

/*-------------------------------------popup------------------------*/
 
 .popup-wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: none;
    /*display: flex;*/
    justify-content: center;
    align-items: center;
    z-index: 99;
}

.popup-background {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, .6);
}

.popup-container {
    background-color: white;
    position: relative;
    min-height: 15em;
    min-width: 25%;
    max-width: 75%;
    display: flex;
    flex-direction: column;
    padding-bottom: 1em;
}

.popup-header {
    background-color: royalblue;
    min-height: 2em;
    font-size: 1.5em;
    padding-top: 0.4em;
    padding-left: 0.3em;
}

.popup-content {
    padding-top: 2em;
    padding-left: 5em;
    padding-right: 5em;
    display: flex;
    flex-grow: 100;
    flex-direction: column;
    justify-content: space-between;
}

.btnOk {
    background-color: royalblue;
    min-width: 5em;
    padding: 0.5em;
}

.btnContainer {
    text-align: center;
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeOut {
    from {opacity: 1;}
    to {opacity: 0;}
}                     
/*-----------------------------end popup----------------------------*/

 /*-----------------@media of header section -------------------------------------------------*/     
@media screen and (max-width: 1169px) {

	header {
		text-align: center;
	}

	header img {
		position: static;
	}

	header .wrapper {
		margin: 0 auto;
	}

	header .wrapper2 {
		margin: 0 auto;
	}
}

/*-----------------@media of navigation section -------------------------------------------------*/ 
@media screen and (max-width: 998px) {
	.navigation div {
	margin: 0 10px;
}
}

@media screen and (max-width: 815px) {
	.navigation {
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

footer {
	text-align: center;
}

footer p {
	float: none;
	margin: 0 auto;
}

footer .icons {
	float: none;
	margin: 0 auto;
}
	
	
}
/*-----------------@media of catherine img section -------------------------------------------------*/

@media screen and (max-width: 991px) {
	
	aside {
		display: none;
	}

	header .menu {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
}
}
